@using SalesStatistics.Core.Models
@model IEnumerable<Product>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Каталог Товаров</h3>
    </div>
    <table class="table table-striped">
        <tr>
            <th><h4>Номер</h4></th>
            <th><h4>Название</h4></th>
            <th><h4>Стоимость</h4></th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" class="text-center">Нет ни одного товара</td>
            </tr>
        }
        else
        {

            {
                int i = 0;

                foreach (Product product in Model)
                {
                    <tr>
                        <td><h4>@(i = i + 1)</h4></td>
                        <td><h4>@product.Name</h4></td>
                        <td><h4>@product.Cost</h4></td>
                        <td>

                            @using (Html.BeginForm("Delete", "Product", FormMethod.Post))
                            {
                                @Html.ActionLink("Редактировать", "Edit", new { id = product.Id }, new { @class = "btn btn-primary", style = "float: left; margin-right: 5px" })
                                @Html.ActionLink("Удалить", "Delete", new { id = product.Id }, new { @class = "btn btn-danger", style = "float: left; margin-right: 5px" })
                                @Html.ActionLink("Описание", "Details", new { id = product.Id }, new { @class = "btn btn-info", style = "float: left; margin-right: 5px" })
                            }
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>
<div class="btn-group">
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })    
</div>



