<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/validate.min.js")
    @Scripts.Render("~/scripts/jquery-ui.js")
    @Scripts.Render("~/scripts/jquery-1.12.4.js")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-dark">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Статистика продаж", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="navbarNavAltMarkup">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">@Html.ActionLink("Продажи", "Index", "Order")</li>
                   
                        <li>@Html.ActionLink("Продукты", "Index", "Product")</li>
                        <li>@Html.ActionLink("Mенеджеры", "Index", "Manager")</li>
                        <li>@Html.ActionLink("Покупатели", "Index", "Customer")</li>                    
                        <li>@Html.ActionLink("Информация", "About", "Home")</li>
                        <li>@Html.ActionLink("Связаться", "Contact", "Home")</li>
                        @Html.Partial("_LoginPartial")
                    </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Статистика продаж ASP.NET</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
