@using SalesStatistics.Web.Models
@model OrderCreateViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить менеджера</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Введите информацию</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Дата заказа</th>
                    <th scope="col">Покупатель</th>
                    <th scope="col">Товар</th>
                    <th scope="col">Стоимость</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col">
                        <p>
                            Дата заказа<br />
                            @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control", name = "OrderDate" } })
                            @Html.ValidationMessageFor(model => model.OrderDate)
                        </p>
                    </td>
                    <td scope="col">
                        <p>
                            Выберите покупателя<br />
                            @Html.DropDownListFor(model => model.CustomerId, Model.Customers, new { htmlAttributes = new { @class = "form-control", name = "Customer" } })
                            @Html.ValidationMessageFor(model => model.CustomerId)
                        </p>
                    </td>
                    <td scope="col">
                        <p>
                            Выберите товар<br />
                            @Html.DropDownListFor(model => model.ProductId, Model.Products, new { htmlAttributes = new { @class = "form-control", name = "Product" } })
                            @Html.ValidationMessageFor(model => model.ProductId)
                        </p>
                    </td>
                    <td scope="col">
                        <p>
                            Дата отчета<br />
                            @Html.EditorFor(model => model.ReportDate, new { htmlAttributes = new { @class = "form-control", name = "OrderDate" } })
                            @Html.ValidationMessageFor(model => model.OrderDate)
                        </p>
                    </td>
                    <td scope="col">
                        <p>
                            Выберите менеджера<br />
                            @Html.DropDownListFor(model => model.ManagerId, Model.Managers, new { htmlAttributes = new { @class = "form-control", name = "Product" } })
                            @Html.ValidationMessageFor(model => model.ManagerId)
                        </p>
                    </td>
                    <td scope="col">
                        <p>
                            Укажите сумму<br />
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", name = "Price" } })
                            @Html.ValidationMessageFor(model => model.Price)
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                @Html.ActionLink("Вернуться", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

