@model SalesStatistics.Core.Models.Order


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/scripts/jquery-ui.js")
    @Scripts.Render("~/scripts/jquery-1.12.4.js")
}


<h2>Добавить менеджера</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Введите информацию</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Дата заказа</th>
                    <th scope="col">Покупатель</th>
                    <th scope="col">Товар</th>
                    <th scope="col">Стоимость</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col">
                        <input class="datefield" data-val="true" data-val-required="Date is required"
                               id="ReleaseDate" name="ReleaseDate" type="date" value="1/11/1989" />
                        @String.Format("{0:d}", Model.OrderDate)
                    </td>
                    <td scope="col">
                        @Html.DropDownList("Покупатель", (SelectList)ViewBag["Customers"], "Выберите покупателя")
                        @Html.ValidationMessageFor(model => model.CustomerId)
                    </td>
                    <td scope="col">
                        @Html.DropDownList("Товар", (SelectList)ViewBag["Products"], "Выберите товар")
                        @Html.ValidationMessageFor(model => model.ProductId)
                    </td>
                    <td scope="col">
                        @Html.EditorFor(model => model.Price)
                        @Html.ValidationMessageFor(model => model.Price)
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                @Html.ActionLink("Вернуться", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $(".datefield").datepicker();
    });
</script>

