@model SalesStatistics.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Авторизация на сайте";
}
<h2>Войти</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group">
        <label>Имя</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Пароль</label>
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <button class="btn btn-primary" type="submit">Войти</button>
    @Html.ActionLink("Регистрация", "Registr", null, new { @class = "btn btn-default" })
}